.findAndOpenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 60px;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
}

.findAndOpenQuestion {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 1em;
  opacity: 0.9;
  text-align: left;
  border-left: 4px solid rgb(40, 47, 48);
  margin: 20px;
  width: 65%;
}

.findAndOpenTitle {
  color: rgb(175, 12, 12);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 65%;
}

.findAndOpenSolved {
  color: white;
  background-color: rgb(20, 23, 28);
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 1em;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 65%;
}

.findAndOpenFlag {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 1em;
  opacity: 0.9;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin: 20px;
  width: 65%;
  overflow-x: auto;
}

.findAndOpenEvidence {
  width: 65%;
  margin-left: -1px;
  cursor: pointer;
  margin-top: 20px;
}

.findAndOpenEvidence.zoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition-duration: 0.25s;
  touch-action: manipulation;
}

.findAndOpenEvidence.zoomed img {
  object-fit: contain;
  min-width: 0; 
  min-height: 0; 
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  border-radius: 4px;
}

.findAndOpenImage {
  border-radius: 4px; 
}

.findAndOpenSolved code,
.findAndOpenQuestion code {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: gitbook-code-font, Menlo, monospace;
  background-color: rgb(34, 39, 46);
  line-height: 1.7;
  border-radius: 4px;
  margin: 0px;
  font-size: 1em;
}
