.hideMeContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .hideMeContainer {
    margin-left: 0; 
    width: 100%;
  }
}

.hideMeQuestion {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  border-left: 4px solid rgb(40, 47, 48);
  margin: 20px;
  width: 65%;
}

.hideMeTitle {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 65%;
}

.hideMeSolved {
  color: white;
  background-color: rgb(20, 23, 28);
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 65%;
}

.hideMeFlag {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin: 20px;
  width: 65%;
  overflow-x: auto;
}

.hideMeEvidence {
  margin: 20px;
  width: 65%;
  margin-left: -1px;
}

.hideMeEvidence {
  width: 65%;
  margin-left: -1px;
  cursor: pointer;
  margin: 20px;
}

.hideMeSolved code {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: gitbook-code-font, Menlo, monospace;
  background-color: rgb(34, 39, 46);
  line-height: 1.7;
  border-radius: 4px;
  margin: 0px;
  font-size: 16px;
}

.command{
  font-size: 24px;
}