.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  transition: margin-left 0.3s ease;
  position: relative;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .aboutContainer {
    margin-left: 0; 
    width: 100%;
  }
}

.about {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 60%;
  margin-top: 100px;
}

.aboutCTF{
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  padding-left: 16px;
  border-left: 4px solid rgb(40, 47, 48);
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  margin-left: 60px;
  width: 60%;
}

.command{
  font-size: 24px;
  color: rgb(255, 255, 255);
  align-items: end;
}

.intro{
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.9;
  text-align: left;
  margin-top: 50px;
  width: 60%;
  margin-left: 10px;
}


.introtext{
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  width: 60%;
  padding-top: 15px;
}

.introtitle{
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 40px;
  opacity: 0.9;
  text-align: left;
  font-weight: bolder;
  width: 60%;
}

.license {
  color: white;
  padding-left: 16px;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 16px;
  opacity: 0.9;
  text-align: left;
  width: 60%;
}

.table2023,
.table2024 {
  width: 60%;
  margin: 18px;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  font-size: 1rem;
}

.table2023 th,
.table2024 th,
.table2023 td,
.table2024 td {
  border: 1px solid rgb(40, 47, 48);
  padding: 8px;
  text-align: left;
}

.table2023 th:first-child,
.table2024 th:first-child,
.table2023 td:first-child,
.table2024 td:first-child {
  border-left: none;
  width: 30%;
}

.table2023 th:last-child,
.table2024 th:last-child,
.table2023 td:last-child,
.table2024 td:last-child {
  border-right: none;
  width: 40%;
}
.table2023 th,
.table2024 th {
  border-top: none;
  color: rgb(204, 207, 212);
}
.table2024 {
  padding-bottom: 20px;
}

.info {
  color: white;
  text-align: center;
}

.footer{
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.buttonContainer {
  display: flex;
}

.button1 {
  width: 446px;
  padding-right: 20px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(40, 47, 48);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s, transform 0.3s ease-out;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) inset;
  margin-left: 20px;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  align-items: flex-end;
}

.button2 {
  width: 446px; 
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(40, 47, 48);
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s, transform 0.3s ease-out;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) inset;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.buttonPrevious,
.buttonNext{
  font-size: 13px;
  padding-bottom: 4px;
}

.buttonText{
  font-weight: 550;
  font-size: 16px;
}
.button1:hover .buttonText {
  color: rgb(76, 211, 76);
}

.button2:hover .buttonText {
  color: rgb(76, 211, 76);
}


.line {
  border-bottom: 1px solid rgb(40, 47, 48);
  margin: 20px;
  width: 61%;
  margin-left: 40px;
}

.arrow {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.button1 .arrow {
  background-image: url("data:image/svg+xml,%3Csvg height='800px' width='800px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 227.096 227.096' xml:space='preserve' fill='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23ffffff;' points='152.835,39.285 146.933,45.183 211.113,109.373 0,109.373 0,117.723 211.124,117.723 146.933,181.902 152.835,187.811 227.096,113.55 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  right: -440px;
}

.button2 .arrow {
  background-image: url("data:image/svg+xml,%3Csvg height='185px' width='185px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 227.096 227.096' xml:space='preserve' fill='%23ffffff' stroke='%23ffffff' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23ffffff;' points='152.835,39.285 146.933,45.183 211.113,109.373 0,109.373 0,117.723 211.124,117.723 146.933,181.902 152.835,187.811 227.096,113.55 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: -440px; 
}