.bitsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  transition: margin-left 0.3s ease;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .bitsContainer {
    margin-left: 0; 
    width: 100%;
  }
  .buttonContainer{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .button1, .button2 {
    width: 100%; 
    max-width: 250px;
  }
}

.bits {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 1em;
  opacity: 0.9;
  text-align: left;
  border-left: 4px solid rgb(40, 47, 48);
  margin: 20px;
  width: 50%;
}

.bitsTitle {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 23, 28);
  letter-spacing: 1.1px;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  opacity: 0.9;
  text-align: left;
  margin: 20px;
  width: 50%;
}

.bitsCategories {
  width: 50%;
  margin: 18px;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  font-size: 1rem;
}

.bitsCategories th,
.bitsCategories td {
  border: 0.5px solid rgb(40, 47, 48);
  padding: 8px;
  text-align: left;
}

.bitsCategories th:first-child,
.bitsCategories td:first-child {
  border-left: none;
  width: 30%;
}

.bitsCategories th:last-child,
.bitsCategories td:last-child {
  border-right: none;
  width: 30%;
}

.bitsCategories th {
  border-top: none;
  color: rgb(204, 207, 212);
}



.buttonContainer {
  display: flex;
  align-items: center;
}

.button1 {
  width: 356px;
  padding-right: 20px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(40, 47, 48);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s, transform 0.3s ease-out;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) inset;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  align-items: flex-end;
}

.button2 {
  width: 356px; 
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(40, 47, 48);
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s, transform 0.3s ease-out;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) inset;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.buttonPrevious,
.buttonNext{
  font-size: 13px;
  padding-bottom: 4px;
}

.buttonText{
  font-weight: 550;
  font-size: 16px;
}
.button1:hover .buttonText {
  color: rgb(76, 211, 76);
}

.button2:hover .buttonText {
  color: rgb(76, 211, 76);
}


.line {
  border-bottom: 1px solid rgb(40, 47, 48);
  margin: 20px;
  width: 49%;
}

.arrow {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.button1 .arrow {
  background-image: url("data:image/svg+xml,%3Csvg height='800px' width='800px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 227.096 227.096' xml:space='preserve' fill='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23ffffff;' points='152.835,39.285 146.933,45.183 211.113,109.373 0,109.373 0,117.723 211.124,117.723 146.933,181.902 152.835,187.811 227.096,113.55 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  right: -355px;
}

.button2 .arrow {
  background-image: url("data:image/svg+xml,%3Csvg height='185px' width='185px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 227.096 227.096' xml:space='preserve' fill='%23ffffff' stroke='%23ffffff' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23ffffff;' points='152.835,39.285 146.933,45.183 211.113,109.373 0,109.373 0,117.723 211.124,117.723 146.933,181.902 152.835,187.811 227.096,113.55 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: -355px; 
}
