.toolsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 60px;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

.tools {
  color: white;
  background-color: rgb(20, 23, 28);
  padding-left: 15px;
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 1em;
  opacity: 0.9;
  text-align: left;
  border-left: 4px solid rgb(40, 47, 48);
  margin: 20px;
  width: 65%;
}

.forensicsTitle, .cryptographyTitle, .steganographyTitle, .revEngineeringTitle, .webExploitationTitle, .binaryExploitationTitle, .osintTitle {
  font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  margin: 20px;
}

.toolstable {
  width: 65%;
  margin: 20px;
  border-collapse: collapse;
}

.toolstable th,
.toolstable td {
  border: 0.5px solid rgb(40, 47, 48);
  padding: 8px;
  text-align: left;
}

.toolstable th:first-child,
.toolstable td:first-child {
  border-left: none;
  width: 20%;
}

.toolstable th:last-child,
.toolstable td:last-child {
  border-right: none;
  width: 60%;
}

.toolstable th {
  border-top: none;
  color: rgb(204, 207, 212);
}

