.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
    z-index: 999; 
}