.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
    z-index: 999; 
}